{include file="Public/page_header.html"}
<script src="__PUBLIC__/js/My97DatePicker/WdatePicker.js"></script>
 <div class="right_box">
        {include file="Public/page_nav.html"}
        <div class="nav">
        	<ul>
               {insert name="sub_nav" id="delay"}
            </ul>
            <div class="clear"></div>
        </div>
        
        <div class="car_info_box">
        <h2 class="title_txt">卡片延期</h2>
        <form id="user_form" class="user_form formular" method="post" action="__URL__/delaySingle">
        	<table border="0" cellspacing="0" cellpadding="0" class="ntable">
        		<tr>
        			<th class="width8">卡片内码：</th>
        			<td colspan="5">
        			<input class="validate[required,custom[onlyNumberSp]] inp" id="code" size="40" type="text" name="data[code]" {if !empty($data)} value="{$data.code}" {/if}/> (请刷卡输入)</td>
        		</tr>
        		{if !empty($data)}
        		<tr>
        			<th class="width8">原有效期：</th>
        			<td><input value="{$data.format_expire_time}" class="inp" type="text" readonly="readonly" disabled="disabled"/></td>
        			<th class="width8">新有效期：</th>
        			<td><input class="inp Wdate" type="text" name="data[new_expire_time]" onClick="WdatePicker()" /></td>
        			<th class="width8">付款金额：</th>
        			<td><input class="validate[required,custom[onlyNumberSp]] inp" type="text" name="data[charge]" /></td>
        		</tr>
        		<tr>
        			<th>车主姓名：</th>
        			<td><input value="{$data.name}" class="inp" type="text" name="data[name]" readonly="readonly" disabled="disabled"/></td>
        			<th>车牌号码：</th>
        			<td><input value="{$data.car_code}" class="inp" type="text" name="data[car_code]" readonly="readonly" disabled="disabled"/></td>
        			<th>备注：</th>
        			<td><input value="" class="inp" type="text" name="data[remark]" /></td>
        		</tr>
        		<tr>
        			<th></th>
        			<td height="80" colspan="5"><input name="" type="image" src="__PUBLIC__/images/tijiao2.jpg" /></td>
        		</tr>
        		{/if}
        	</table>
        </form>
	</div>
<script>
{literal}
jQuery(document).ready(function(){
	jQuery("#user_form").validationEngine({ 
		scroll:false,
		//binded:false,
		//showArrow:false,
		promptPosition:"centerRight",
		maxErrorsPerField:1,
		showOneMessage:true,
		addPromptClass:"formError-noArrow formError-text"
	});
	
	$("#code").focus();
});
{/literal}
</script>
{include file="Public/page_footer.html"}