<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css" />
<title>首页</title>
</head>

<body class="index_body">

<iframe src="/admin/frame/head" width="100%" height="85px" frameborder="0" scrolling="no"></iframe>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
     <td valign="top">
    <IFRAME class="iframe1" name="right" src="/Monitor/index" frameBorder=0 width=100% scrolling=no onload="this.height=this.contentWindow.document.body.scrollHeight"></IFRAME>
    </td>
  </tr>
</table>

</body>
</html>
