
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{include file='Public/header.html'}
</head>
<body>
{insert name="user_state"}
	
	<div class="main">
		{include file='Public/menu.html'}
		<div class="content">
			<div class="brand">当前位置：首页 > <em>报名用户</em></div>
			<div class="conArea">
				<div class="searchBox">
					<form class="xhform initform" id="yw0" action="/index.php?r=admin/model/index" method="get">
<div style="display:none"><input type="hidden" value="admin/model/index" name="r" /></div>				
					<input id="sword" class="inp1 nofocus" size="40" name="SearchForm[keyword]" type="text" />				    <input class="btn1" type="submit" name="yt0" value="搜 索" />				   <span class="txs">目前一共有 107 个车型</span>
				    </form>		
				</div>
				<div class="content-box">
					<div class="content-box-header">
						<h3>车型管理&nbsp;&nbsp;&nbsp;&nbsp;<a href="/index.php?r=admin/model/update">添加车型</a>
					</div>
					<div class="content-box-content">
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
							<thead>
								<tr>
								   <th width="5%">ID</th>
								   <th width="20%">名称</th>
								   <th width="10%">短名称</th>
								   <th width="10%">短类型</th>
								   <th width="10%">价格</th>
								   <th width="10%">操作</th>
								  
								</tr>
							</thead>
							<tbody>
							
																<tr>
										<td>107</td>
										<td>sDrive35is*</td>
										<td>sDrive35is</td>
										<td></td>
										<td>RMB909,000</td>
										<td><a href="/index.php?r=admin/model/update&id=107">修改</a></td>
									</tr>
																<tr>
										<td>106</td>
										<td>sDrive35i*豪华型</td>
										<td>sDrive35i</td>
										<td>豪华型</td>
										<td>RMB799,000</td>
										<td><a href="/index.php?r=admin/model/update&id=106">修改</a></td>
									</tr>
																<tr>
										<td>105</td>
										<td>sDrive28i*领先型</td>
										<td>sDrive28i</td>
										<td>领先型</td>
										<td>RMB671,000</td>
										<td><a href="/index.php?r=admin/model/update&id=105">修改</a></td>
									</tr>
																<tr>
										<td>104</td>
										<td>sDrive20i*领先型</td>
										<td>sDrive20i</td>
										<td>领先型</td>
										<td>RMB583,000</td>
										<td><a href="/index.php?r=admin/model/update&id=104">修改</a></td>
									</tr>
																<tr>
										<td>103</td>
										<td>ActiveHybrid X6*</td>
										<td>ActiveHybrid X6</td>
										<td></td>
										<td>RMB 2,168,000</td>
										<td><a href="/index.php?r=admin/model/update&id=103">修改</a></td>
									</tr>
																<tr>
										<td>102</td>
										<td>xDrive50i*</td>
										<td>xDrive50i</td>
										<td></td>
										<td>RMB2,062,000</td>
										<td><a href="/index.php?r=admin/model/update&id=102">修改</a></td>
									</tr>
									
								
							</tbody>
							<tfoot>
								<tr>
									<td colspan="6" class="pages">
									<div class="fr">
									<div id="yw1" class="yiiPager"><a href="/index.php?r=admin/model/index">首页</a>
<a href="/index.php?r=admin/model/index">上一页</a>
<span class="current">1</span>
<a href="/index.php?r=admin/model/index&amp;page=2">2</a>
<a href="/index.php?r=admin/model/index&amp;page=3">3</a>
<a href="/index.php?r=admin/model/index&amp;page=4">4</a>
<a href="/index.php?r=admin/model/index&amp;page=5">5</a>
<a href="/index.php?r=admin/model/index&amp;page=6">6</a>
<a href="/index.php?r=admin/model/index&amp;page=7">7</a>
<a href="/index.php?r=admin/model/index&amp;page=8">8</a>
<a href="/index.php?r=admin/model/index&amp;page=9">9</a>
<a href="/index.php?r=admin/model/index&amp;page=10">10</a>
<a href="/index.php?r=admin/model/index&amp;page=11">11</a>
<a href="/index.php?r=admin/model/index&amp;page=2">下一页</a>
<a href="/index.php?r=admin/model/index&amp;page=11">末页</a></div>  
		    						</div>
									</td>
								</tr>
							</tfoot>
						</table>
						
					</div>
				</div>
			</div>
<input type="hidden" id='gxx_template' value='非常感谢您的参与'/>		</div>
	</div>
	
</body>
</html>
