<!DOCTYPE HTML>
<html>
<head>
<title>等待审核</title>
<link href="__PUBLIC__/css/main.css"  rel="stylesheet" type="text/css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
<div id="content_box">
    <div class="icon1"><img src="__PUBLIC__/images/icon1.png"></div>
    <div class="load_txt">资料审核中. . .</div>
    <div class="txt">将在30分钟内审核完成，请留意您的爱平方公众号内的通知和手机短信。</div>
    <div class="txt">您的手机号：<span class="yellow">{$mobile}</span></div>
    <A href="/" class="anniu_w">完成</A>
</div>
</body>
</html>