<!DOCTYPE HTML>
<html>
<head>
<title>单身旅游活动详情</title>
<link href="__PUBLIC__/css/main.css"  rel="stylesheet" type="text/css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<script src="__PUBLIC__/static/js/jquery.js" type="text/javascript"></script>
<script>
{literal}
$(function(){
	$(".dif").click(function(){
		var $subObj = $(this).next(), 
		$subclass = $subObj.attr("class")// 获取它的class
		if($subclass == "xs"){
			$(this).removeClass("tab_off").addClass("tab_on")
			$subObj.attr("class","tab_ys")
		}else{
			$(this).removeClass("tab_on").addClass("tab_off")
			$subObj.attr("class","xs")
		}
	})
})
{/literal}
</script>
</head>
<body>

<div class="banner"><img src="__PUBLIC__/images/banner.png"></div>
<div class="activity">
	<div class="ac_txt">30位优质单身（15男、15女）浪漫普吉岛共度7天，1月3日启程，快来参加吧，在旅途中邂逅你的Ta！</div>
    <div class="out_box">
    	<ul class="list_txt1">
        	<li class="icon_t1">截止报名时间: <span class="yellow1">01</span>天<span class="yellow1">10</span>小时<span class="yellow1">38</span>分<span class="yellow1">30</span>秒</li>
            <li class="icon_t2">已报名人数:  <span class="gray1">男（15/15）   女（10/15）</span><br><span class="gray1">目前有</span><span class="yellow1">23</span><span class="gray1">人等待审核，人数足够则开2团</span></li>
            <li class="icon_t3">活动费用:  <span class="gray1">男（</span><span class="yellow1">19900元</span><span class="gray1">）   女（</span><span class="yellow1">19800元</span><span class="gray1">）</span></li>
        </ul>
    </div>
    <div class="out_box">
    	<ul class="list_txt2">
        	<li class="icon_t4">报名条件:  </li>
            <li>男士：单身，25~45岁，本科学历及以上，身高170及以上，年收入30万元及以上</li>
            <li class="icon_t5">女士：单身，20~35岁，本科学历及以上，身高160及以上，形象气质良好</li>
        </ul>
    </div>
    <div class="out_box">
    	<h3 class="dif tab_on"><a href="javascript:;" class="list_icon1">活动简介</a></h3>
        <div class="tab_ys">
        	<ul class="icon_content1">
            	<li>32%的情侣在旅途中相识并相爱，85后情侣这一比例更高</li>
                <li>每位单身都经过严格的资料审核和筛选</li>
                <li>全程保护个人隐私，不泄露姓名联系方式</li>
                <li>精彩纷呈的海岛活动，增进互相了解，不尴尬</li>
                <li>与每位异性都有私密相处的时间</li>
                <li>无需刻意表现，以真实的自己就可以很舒服的参与进来</li>
                <li>住宿均为一人一间，更方便</li>
                <li>爱情咨询师、摄影师全程陪同</li>
                <li>10~15位优质异性7天相处，性价比远高于婚介服务：(万元，3~5位异性，平均见面45分钟)</li>
                <li>预计将有不少于4对单身在旅行结束后牵手</li>
            </ul>
        </div>
    </div>
    <div class="out_box">
    	<h3 class="dif tab_on"><a href="javascript:;" class="list_icon2">活动简介</a></h3>
        <div class="tab_ys">
        	<ul class="icon_content2">
            	<li><img src="__PUBLIC__/images/img1.png"><br>宋盼盼</li>
                <li><img src="__PUBLIC__/images/img1.png"><br>宋盼盼</li>
                <li><img src="__PUBLIC__/images/img1.png"><br>宋盼盼</li>
                <li><img src="__PUBLIC__/images/img1.png"><br>宋盼盼</li>
                <li><img src="__PUBLIC__/images/img1.png"><br>宋盼盼</li>
                <li><img src="__PUBLIC__/images/img1.png"><br>宋盼盼</li>
                <li><img src="__PUBLIC__/images/img1.png"><br>宋盼盼</li>
                <li><img src="__PUBLIC__/images/img1.png"><br>宋盼盼</li>
                <li><img src="__PUBLIC__/images/img1.png"><br>宋盼盼</li>
                <li><img src="__PUBLIC__/images/img1.png"><br>宋盼盼</li>
                <li><img src="__PUBLIC__/images/img1.png"><br>宋盼盼</li>
                <li><img src="__PUBLIC__/images/img1.png"><br>宋盼盼</li>
            </ul>
            <ul class="icon_content3">
            	<h4>其中部分用户资料如下:<span class="gray1">(为保护用户隐私，均已匿名)</span></h4>
                <li>男  28岁  私企高管  身高：179cm   年收入：50-60万 </li>
                <li>男  28岁  私企高管  身高：179cm   年收入：50-60万 </li>
                <li>男  28岁  私企高管  身高：179cm   年收入：50-60万 </li>
                <li>男  28岁  私企高管  身高：179cm   年收入：50-60万 </li>
                <li>男  28岁  私企高管  身高：179cm   年收入：50-60万 </li>
            </ul>
        </div>
    </div>
    <div class="out_box">
    	<h3 class="dif tab_on"><a href="javascript:;" class="list_icon3">关于我们</a></h3>
        <div class="tab_ys"><div class="icon_content4">爱平方由搜旅网联合创始人宋亚南、张磊先生创办，旨在为身边优质单身朋友寻找另一半。</div></div>
    </div>
    <div class="out_box">
    	<h3 class="dif tab_on"><a href="javascript:;" class="list_icon4">联系我们</a></h3>
        <div class="tab_ys"><div class="icon_content5">adame.song@aipingfang.com</div></div>
    </div>
    <div class="send">
    	<a href="#" id="ele1" class="anniu_x4"><span>发送给好友</span></a>
        <a href="#" id="ele2" class="anniu_x5"><span>分享到朋友圈</span></a>
    </div>
</div>
<div class="foot">
	<a href="/user/signup" class="baoming">立即报名</a>
    <a href="tel:18600805024" class="tel">电话咨询</a>
    <div class="send"></div>
</div>
<script src="__PUBLIC__/static/js/popup_layer.js" type="text/javascript" language="javascript"></script>

<script language="javascript">
{literal}
    $(document).ready(function() {
        //示例1，默认弹出层
        new PopupLayer({trigger:"#ele1",popupBlk:"#blk1",closeBtn:"#close1",
				offsets:{
					x:0,
					y:0
				}
			});
        new PopupLayer({trigger:"#ele2",popupBlk:"#blk2",closeBtn:"#close2",
				offsets:{
					x:0,
					y:0
				}
			});
    });
{/literal}
</script>
<div id="ele1">
<div class="mask" id="blk1">
	<img src="__PUBLIC__/images/img2.png" id="close1">
</div>
</div>
<div id="ele2">
<div class="mask" id="blk2">
	<img src="__PUBLIC__/images/img3.png" id="close2">
</div>
</div>
</body>
</html>