{include file="Public/page_header.html"}
    <div class="right_box">
        {include file="Public/page_nav.html"}
        <div class="nav">
        	<ul>
               {insert name="setting_nav" id="password"}
            </ul>
            <div class="clear"></div>
        </div>
       <div class="car_info_box">
       	<h2 class="title_txt">修改密码</h2>
        <form id="user_form" class="user_form formular" action="__URL__/password" method="post">
		<ul class="xgmm">
        	<li>请输入旧密码：<input value="" class="inputxt validate[required] text-input" type="password" name="old_password" id="form-validation-field-0"></li>
            <li></li>
            <li>请输入新密码：<input class="inputxt text-input validate[required,minSize[6],maxSize[20]]" type="password" id="pwd" name="password"></li>
            <li></li>
            <li>请输入新密码：<input class="inputxt text-input validate[condRequired[pwd],equals[pwd]]" type="password" id="form-validation-field-0" name="password2"></li>
            <li></li>
            <li class="xgmm_tj"><input name="" type="image" src="__PUBLIC__/images/tijiao2.jpg" /></li>
        </ul>
        </form>
        </div>
    </div>  
{literal}     
<script type="text/javascript">
jQuery(document).ready(function(){
	// binds form submission and fields to the validation engine
	jQuery("#user_form").validationEngine({ 
		scroll:false,
		//binded:false,
		//showArrow:false,
		promptPosition:"centerRight",
		maxErrorsPerField:1,
		showOneMessage:true,
		addPromptClass:"formError-noArrow formError-text",
		custom_error_messages:{
			"#pwd":{
				"minSize":{
					"message":"* 密码不得少于 6 位，建议使用英文与数字组合"
				}
			}
		}
	});
});
</script> 
{/literal}
{include file="Public/page_footer.html"}